html {
	overflow-x: hidden;
}
.v-align {
	@include v-align;
}

.site-content {
	margin: 90px 0;
}

.sticky {
	display: block;
}

.fullwidth {
	width: 100%;
}

.post-cats {
	line-height: 1;
}

.posts-loop {

	.post {
		margin-bottom: 80px;
		width: 100%;
	}
	
	.entry-content {
		margin-bottom: 0;
	}

	.post-cats,
	.entry-meta {
		text-align: center;
	}

	.post > *:not(:last-child) {
		margin-bottom: 20px;
	}

	.content-list > *:not(:last-child) {
		margin-bottom: 20px;
	} 
}

.updated:not(.published) {
	display: none;
}

.posts-loop .entry-content,
.entry-summary {
	p:last-of-type {
		margin-bottom: 0;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-main {
	padding-right: 30px;

	.woocommerce-page & {
		padding-right: 0;
	}
}

.entry-header {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;

	.single-post & {
		max-width: 100%;
		margin-bottom: 30px;
	}

	.page & {
		.entry-title {
			margin-bottom: 30px;
		}
	}

	.content-list & {
		max-width: 100%;
		text-align: left;
		margin-left: 0;

		.entry-title {
			@include font-size(24);
		}
	}
}

.content-list {
	.post-cats,
	.entry-meta {
		text-align: left;
	}
}

.entry-title {
	margin-top: 0;
	word-wrap: break-word;
}

.entry-meta {
	@include font-size(14);
	font-style: italic;

	a {
		color: #969696;
	}	

	.author {
		a {
			color: #000;
			font-style: normal;
			font-weight: 600;
		}
	}
        
	.avatar {
		border-radius: 50%;
		vertical-align: middle;
		position: relative;
		top: -2px;
		margin-right: 7px;
		display: inline !important;
	}
}

.page-banner {
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: -30px;
}

.entry-footer {
	margin-top: 30px;
	clear: both;

	.post-edit-link {
		@include font-size(14);
		text-transform: uppercase;
		margin-left: 30px;		
	}
}

.first-cat,
.cat-links a {
    @include font-size(14);
    text-transform: uppercase;
	letter-spacing: 1px;	
	font-weight: 600;
}

.byline {
	margin-right: 44px;
	position: relative;
	display: inline-block;
	
	&:after {
		content: '';
		width: 20px;
		height: 1px;
		background-color: #969696;
		position: absolute;
		top: 50%;
		margin-left: 12px;
	}
}

.no-results.not-found {
	text-align: center;

	.page-header {
		background: transparent;
		padding: 0;
	}
}

.post-thumbnail {
	display: block;

	&.single-thumbnail {
		margin-bottom: 30px;
	}

	img {
		vertical-align: top;
	}
}

.read-more {
	color: #000;
	font-style: italic;
	margin-top: 10px;	
	text-decoration: underline;
	display: table;

	&:hover {
		text-decoration: underline;
	}
}

.no-sidebar {
	.content-area {
		margin-left: auto;
		margin-right: auto;
	}
}

.layout-3cols {
	.content-area {
		max-width: 100%;
		flex: 0 0 100%;
	}
	.site-main {
		padding: 0;
	}
}

.layout-3cols,
.layout-2cols-sb {
	.posts-loop {
		.entry-title {
			@include font-size(24);
		}
	}
}
.page-template-template_nosidebar {
	.site-main {
		padding-right: 0;
	}
}
.page-template-template_builder {
	.site-content {
		margin-top: 0;
		margin-bottom: 0;
	}
}
.layout-mixed {
	.posts-loop {
		.post {
			&:not(.has-post-thumbnail) {
				.col-md-8 {
					flex: 0 0 100%;
					max-width: 100%;				
				}
			}

			&:after {
				content: '';
				position: absolute;
				left: 15px;
				bottom: -40px;
				width: calc(100% - 30px);
				border-bottom: 1px solid #ebebeb;
			}
		}
	}
}


/* 404 */
.error404 {

	.page-title {
		@include font-size(140);
	}
	.error-404 {
		padding-top: 30px;
		padding-bottom: 90px;
		text-align: center;
	}
	.page-content {
		margin-top: 60px;

		p {
			margin-bottom: 30px;
		}
	}

	.site-main {
		padding-right: 0;
	}
}

/* Page headers */
.page-header {
	background-color: #eaeaea;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}

/* Single posts layout */
.single-post {

	.hentry {
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 60px;
		margin-bottom: 60px;
	}

	.post-cats {
		margin-bottom: 10px;
	}

	.nosidebar {
		margin-left: 12.5%;

		.site-main {
			padding-right: 0;
		}
	}
}

.layout-featuredbanner2 {

	.page-banner {
		height: auto;
		padding-top: 200px;
		padding-bottom: 200px;
		position: relative;
		margin-bottom: 30px;
		
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #000;
			opacity: 0.5;
		}
	}

	.entry-header {
		margin: 0;
		color: #fff;
		position: relative;
		z-index: 11;

		.entry-meta {
			a {
				color: #fff;
			}
		}

		.entry-title {
			color: #fff;
			max-width: 700px;
			margin-left: auto;
			margin-right: auto;			
		}

		.byline:after {
			background-color: #fff;
		}
	}
}

/* Author bio */
.author-bio {
	margin-bottom: 60px;

	.author-avatar {
		max-width: 60px;
		float: left;

		img {
			border-radius: 50%;
		}
	}

	.author-description {
		float: right;
		width: calc( 100% - 90px );
	}

	.author-name {
		margin-top: 0;
	}
}