/**
 * Single Product
 */
.single-product {

	.onsale {
		left: 15px;
		right: auto;
		z-index: 11;
	}

	.woocommerce-product-gallery__wrapper {
		margin: 0;
	}

	.related {

		li {
			padding-left: 15px;
			padding-right: 15px;
			flex: 0 0 33.333333%;
			max-width: 33.333333%;			
		}
	}

	.site-main {

		& > .product {
			& > * {
				margin-bottom: 45px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	section > h2 {
		@include font-size(16);
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.entry-summary {
		p {
			margin-bottom: 25px;
		}
	}

	div.product {
		@include clearfix;
		position: relative;

		.quantity {
			display: inline-block;

			input[type="number"] {
				max-width: 80px;
			}
		}

		.product_meta {
			@include font-size(14);
			color: #969696;
			
			> span {
				display: block;
				margin-bottom: 10px;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
		.woocommerce-variation-price,
		p.price {
			@include font-size(22);
		}

		.single_variation {
			& > * {
				margin-bottom: 15px;
			}
		}

		.cart {
			margin-bottom: 25px;
		}

		.woocommerce-product-gallery {
			position: relative;

			.woocommerce-product-gallery__trigger {
				position: absolute;
				top: 1em;
				right: 1em;
				display: block;
				z-index: 99;
			}

			.flex-control-thumbs {
				@include clearfix;
				margin: 0 -5px;
				padding: 0;

				li {
					list-style: none;
					cursor: pointer;
					float: left;
					padding: 5px;

					img {
						opacity: .5;
						vertical-align: top;

						&.flex-active {
							opacity: 1;
						}
					}

					&:hover {
						img {
							opacity: 1;
						}
					}
				}
			}

			@for $i from 2 through 5 {
				&.woocommerce-product-gallery--columns-#{$i} {
					.flex-control-thumbs {
						li {
							width: 25%;
							margin-bottom: 0;
							line-height: 1;

							&:nth-child(#{$i}n) {
								margin-right: 0;
							}

							&:nth-child(#{$i}n+1) {
								clear: both;
							}
						}
					}
				}
			}
		}
	}
}

.stock {
	&:empty:before {
		display: none;
	}

	&.in-stock {
		color: $woocommerce__color-success;
	}

	&.out-of-stock {
		color: $woocommerce__color-error;
	}
}
.woocommerce-product-attributes {
	th {
		width: 20%;
	}
}
.woocommerce-grouped-product-list-item__label a {
	color: #000;
	text-decoration: underline;
}
.reset_variations {
	margin-left: 15px;
	color: #969696;
	text-decoration: underline;
}