button:not(.menu-toggle):not(.menu-close-button):not(.customize-partial-edit-shortcut-button),
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button__link,
.wp-block-file .wp-block-file__button {
	border: 0;
	border-radius: 0;
	background: $color-primary;
	color: #fff;
	@include font-size(14);
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1;
	padding: 18px 35px;
	box-shadow: none;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		opacity: 0.8;
		color: #fff;
	}

	&:active,
	&:focus {
		background-color: $color-primary;
		color: #fff;
	}

	.is-style-outline & {
		color: $color-primary;
		background: transparent;
		border: 2px solid;
	}
}
button.menu-toggle,
button.menu-close-button {
	border: 0;
	background: transparent;

	&:focus {
		border: 0;
		background: transparent;		
	}
}