.wp-block-image,
.wp-caption {
	margin-bottom: 30px;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	figcaption {
		margin: 0.8075em 0;
		font-style: italic;
		color: #969696;
	}
}

figcaption {
	text-align: center;
}
.wp-caption-text {
	color: #969696;
}