.site-footer {
	background-color: #000;
	color: #fff;

	a {
		color: #fff;
	}

	.footer-widgets {
		padding: 60px 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	.widget-title {
		color: #fff;
	}
}
.widgets-column {
	.widget {
		
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
.site-info {
	padding: 15px 0;
}
.back-to-top {
	position: fixed;
	bottom: 0;
	right: 45px;
	opacity: 0;
	transition: all 0.3s;
	cursor: pointer;
	width: 35px;
	height: 35px;
	background-color: $color_primary;
	color: #fff;
	text-align: center;
	line-height: 35px;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);

	&.show {
		opacity: 1;
		bottom: 45px;
	}
}