/**
 * Header cart
 */
.site-header-cart {
	position: relative;
	margin: 0;
	padding: 0;
	@include clearfix;

	.cart-contents {
		text-decoration: none;
	}

	.widget_shopping_cart {
		display: none;
	}

	.product_list_widget {
		margin: 0;
		padding: 0;
	}
}

/**
 * Star rating
 */
.star-rating {
	overflow: hidden;
	position: relative;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	width: 5.3em;
	font-family: 'star';
	font-weight: 400;

	&:before {
		content: "\53\53\53\53\53";
		opacity: .25;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
	}

	span:before {
		content: "\53\53\53\53\53";
		top: 0;
		position: absolute;
		left: 0;
		color: $color_primary;
	}
}

p.stars {
	a {
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		margin-right: 1px;
		font-weight: 400;

		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			line-height: 1;
			font-family: "star";
			content: "\53";
			color: $color__text-main;
			text-indent: 0;
			opacity: .25;
		}

		&:hover {
			~ a:before {
				content: "\53";
				color: $color__text-main;
				opacity: .25;
			}
		}
	}

	&:hover {
		a {
			&:before {
				content: "\53";
				color: $color_primary;
				opacity: 1;
			}
		}
	}

	&.selected {
		a.active {
			&:before {
				content: "\53";
				color: $color_primary;
				opacity: 1;
			}

			~ a:before {
				content: "\53";
				color: $color__text-main;
				opacity: .25;
			}
		}

		a:not(.active) {
			&:before {
				content: "\53";
				color: $color__link;
				opacity: 1;
			}
		}
	}
}

/**
 * Tabs
 */
.woocommerce-tabs {

	h2 {
		@include font-size(16);
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	ul.tabs {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: left;
		border-bottom: 1px solid #dddddd;
		margin-left: 3px;
		margin-bottom: -3px;

		li {
			display: inline-block;
			margin: 0;
			position: relative;
			background: #fafafa;
			border: 1px solid #ddd;
			margin: 0 -3px;
			margin-bottom: -1px;

			&.active {
				background: #fff;
				border-bottom-color: #fff;
			}

			a {
				padding: 15px 22px;
				display: block;
				color: #000;

				&:focus,
				&:active {
					outline: 0;
				}				
			}
		}
	}

	.panel {
		h2:first-of-type {
			margin-bottom: 1em;
		}
	}
}



/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: right;

	&.strong {
		color: $woocommerce__color-success;
	}

	&.short {
		color: $woocommerce__color-error;
	}

	&.bad {
		color: $woocommerce__color-error;
	}

	&.good {
		color: $woocommerce__color-info;
	}
}

/**
 * Forms
 */
.form-row {
	&.woocommerce-validated {
		input.input-text {
			box-shadow: inset 2px 0 0 $woocommerce__color-success;
		}
	}

	&.woocommerce-invalid {
		input.input-text {
			box-shadow: inset 2px 0 0 $woocommerce__color-error;
		}
	}
}

.required {
	color: red;
}

/**
 * Notices
 */

.woocommerce-notices-wrapper {
	margin-bottom: 45px;

	a {
		&:not(.button) {
			margin-right: 15px;
			color: #000;
			font-weight: 600;
			border-bottom: 2px solid;
		}
	}

	.button.wc-forward {
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;
	}	
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
	@include clearfix;
	background-color: #f2f2f2;
	clear: both;
	padding: 8px 25px;
	width: 100%;
}

.woocommerce-info,
p.no-comments {
	background-color: #f2f2f2;
}

.woocommerce-noreviews {
	background-color: transparent;
	padding: 0;
}

.woocommerce-error {
	background-color: $woocommerce__color-error;
}

.demo_store {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 1em;
	background-color: $woocommerce__color-info;
	z-index: 9999;
}

/* Price */
.woocommerce {
	.price {
		color: #969696;

		del {
			margin-right: 5px;
			opacity: 0.5;
		}

		ins {
			background: transparent;
		}
	}
}

/* Breadcrumbs */
.woocommerce-breadcrumb {
	text-align: center;
	margin-bottom: 30px;
	
	a {
		color: #969696;
	}
}

@media screen and (min-width: 48em) {
	/**
	 * Header cart
	 */
	.site-header-cart {
		.widget_shopping_cart {
			position: absolute;
			top: 100%;
			width: 100%;
			z-index: 999999;
			left: -999em;
			display: block;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		}

		&:hover,
		&.focus {
			.widget_shopping_cart {
				left: 0;
				display: block;
			}
		}
	}
}

/* Reviews */
.woocommerce-Reviews {
	ol {
		padding-left: 0;
	}

	li {
		padding-left: 0;
	}
	
	.comment_container {
		img {
			float: left;
			margin-right: 15px;
		}

		.woocommerce-review__published-date {
			color: #969696;
			@include font-size(14);
			font-style: italic;
		}
	}
}

.woocommerce-product-rating {

	margin-bottom: 30px;
	margin-top: -10px;

	.star-rating,
	.woocommerce-review-link {
		display: inline-block;
		vertical-align: middle;
	}

	.woocommerce-review-link {
		color: #969696;
		@include font-size(14);
		font-style: italic;		
		margin-left: 10px;
		margin-top: 2px;
	}
}

/* Cart page */
.woocommerce-cart {
	.product-thumbnail {
		text-align: center;

		img {
			max-width: 100px;
		}
	}

	.product-name {
		a {
			color: #000;
			text-decoration: underline;
		}
	}

	.product-remove {
		@include font-size(22);
		text-align: center;
		font-weight: 600;

		a {
			background-color: #eee;
			color: #000;
			border-radius: 50%;
			width: 36px;
			height: 36px;
			text-align: center !important;
			display: inline-block;			
			border: 1px solid #ebebeb !important;

			&:hover {
				background-color: #f94b4b;
				color: #fff;
			}
		}
	}

	.woocommerce-cart-form {
		.actions {
			.coupon {
				float: left;

				label {
					display: none;
				}
			}
			
			.button {
				float: none;
				background-color: #eee;
				border: 1px solid #ebebeb;
				color: #000;
				float: right;

				&:disabled:hover {
					cursor: not-allowed;
				}

				&:disabled {
					opacity: 0.5;
				}
			}
		}
	}

	.cart-collaterals {
		h2 {
			@include font-size(16);
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		.cart_totals   {
			float: right;
			width: 50%;
		}

		.woocommerce-shipping-methods {
			list-style: none;
			padding: 0;

			li {
				padding-left: 0;
			}
		}

		.shipping-calculator-button {
			color: #969696;
		}

		.checkout-button {
			display: block;
			width: 100%;
			text-align: center;
		}
	}

}