a {
	color: $color_primary;
	text-decoration: none;
	transition: all 0.3s;

	&:hover,
	&:focus,
	&:active {
		color: $color_primary;
		text-decoration: none;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
