.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	text-align: right;
	opacity: 0;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			float: left;
			position: absolute;
			top: 100%;
			padding-top: 60px;
			z-index: 99999;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s;
			margin-left: -20px;
			text-align: left;

			ul {
				left: 100%;
				top: 0;
				padding-top: 30px;
				margin-left: 0;
			}

			li {
				background-color: #fff;
				padding: 0;
				border: 1px solid #ebebeb;
				margin-top: -1px;
				text-transform: none;

				&:hover > ul,
				&.focus > ul {
					left: 100%;
					padding-top: 0;
					margin-left: 0;
				}
			}

			a {
				width: 200px;
				padding: 10px 20px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
			margin-left: -20px;
			opacity: 1;
			visibility: visible;
			padding-top: 20px;
		}
	}

	li {
		display: inline-block;
		position: relative;
		padding: 10px 20px;
		@include font-size(14);
		font-weight: 600;
		margin: 0;

		&:last-of-type {
			padding-right: 0;
		}

		&:hover > a,
		&.focus > a {
		}
	}

	.page_item_has_children,
	.menu-item-has-children {

		& > a {
			&::after {
				font-family: "fontello";
				content: "\e807";
				float: right;
				margin-left: 10px;
			}
		}

	}

	ul ul {
		.page_item_has_children,
		.menu-item-has-children {

			& > a {
				&::after {
					content: "\e80a";
				}
			}
	
		}		
	}

	a {
		display: block;
		text-decoration: none;
		color: #333;

		&:hover {
			color: $color_primary;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.top-bar {
	padding: 5px 40px;
	background-color: #fff;
	border-bottom: 1px solid #ebebeb;

	#top-menu {

		list-style: none;
		margin: 0;
		padding: 0;

		li {
			float: left;
			position: relative;
			padding: 10px 20px;
			@include font-size(13);
			letter-spacing: 1px;
			text-transform: uppercase;
			font-weight: 600;
			margin: 0;

			&:first-of-type {
				padding-left: 0;
			}

			a {
				color: #000;

				&:hover {
					color: $color_primary;
				}
			}
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-close-button {
	display: none;
	position: absolute;
	font-size: 20px;
	top: 15px;
	right: 15px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	background-color: #f7f7f7;
	border-radius: 50%;
	line-height: 30px;	
}

@media screen and (min-width: 1024px) {
	.main-navigation {
		opacity: 1;
	}
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}

}

@media screen and (max-width: 1024px) {
	.top-bar {
		.col-md-8 {
			display: none;
		}
		.col-md-4 {
			flex: 0 0 100%;
			max-width: 100%;
			
			.header-social {
				text-align: center;
			}
		}
	}
	.menu-close-button {
		display: block;
	}
	.menu-toggle {
		color: #000;
		font-size: 20px;
		float: right;
		cursor: pointer;
	
		.menu-top &,
		.menu-centered & {
			float: none;
			display: table;
			margin-left: auto;
			margin-right: auto;
		}
	}
	
}

#mobile-navigation {
	opacity: 0;
    position: fixed;
    left: -300px;
    top: 0;
	background: #fff;
	box-shadow: 0 0 30px rgba(0,0,0,0.1);
    width: 300px;
    height: 100%;
    overflow-y: auto;
	z-index: 999;
	transition: all 0.3s;
	padding: 50px 30px 30px;
	overflow-x: visible;

	.admin-bar & {
		top: 32px;
	}

	&.active {
		left: 0;
		opacity: 1;

		& > div > ul {
			display: block;
		}
	}
	.page_item_has_children,
	.menu-item-has-children {
		padding-bottom: 0;
		
		& > a::after {
			display: none;
		}
		a {
			float: left;
		}

		span {
			float: right;
		}
	}

	li {
		width: 100%;
		text-align: left;
	}

	.submenu-toggle {
		font-size: 18px;
		line-height: 1;
		margin-top: 2px;
	}

	ul ul {
		position: static;
		margin: 15px 0 0;
		transition: none;
		padding: 0;
		visibility: visible;
		opacity: 1;
		width: 100%;
		padding-left: 15px;

		li {
			border: 0;
			background-color: transparent;
		}

		a {
			padding-left: 0;
			padding-right: 0;			
			width: auto;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.site-main .post-navigation {
	background-color: #f1f1f1;
	padding: 30px;
	margin-bottom: 60px;

	&.post-nav-visible {
		margin-bottom: 0;
	}	

	h4 {
		margin: 0;
		@include font-size(16);
	}

	.nav-links {

		a {
			width: 100%;
		}

		img {
			width: 30%;
			float: left;
			padding-right: 30px;
			padding-left: 0;
		}

		.has-thumb {
			a {
				width: 70%;
				float: left;
			}			
		}
	}

	.nav-next {
		right: 30px;
		text-align: right;

		img {
			padding-right: 0;
			padding-left: 30px;
		}

		.post-nav-label {
			text-align: right;
		}
	}

	.post-nav-label {
		margin: 0 0 15px;
		color: #969696;
		text-transform: uppercase;
		font-weight: 600;
		@include font-size(14);
	}
}

.woocommerce-pagination ul,
.navigation.pagination {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	
	.page-numbers {
		border: 1px solid #ebebeb;
		width: 40px;
		height: 40px;
		line-height: 40px;
		display: inline-block;
		text-align: center;
		border-radius: 50%;
		margin-right: 15px;
		color: $color__text-main;

		&:last-child {
			margin-right: 0;
		}

		&:hover,
		&.current {
			background-color: $color_primary;
			border-color: $color_primary;
			color: #fff;
		}

		&.prev,
		&.next,
		&.dots {
			border-color: transparent;
			background-color: transparent;
			color: $color__text-main;
		}		
	}
}
.woocommerce-pagination {

	ul {
		list-style: none;
		padding: 0;
		margin-left: 0;

		li {
			display: inline-block;
			margin-right: 15px;
	
			&:last-of-type {
				margin-right: 0;
			}			
		}
	}
}