body {
	font-family: 'Karla', 'sans-serif';
	color: $color__text-main;
	@include font-size(16);
	line-height: 1.72;
}

#order_review_heading,
#customer_details h3,
.cart-collaterals h2,
.single-product section > h2,
.woocommerce-tabs h2,
.widget .widget-title {
	font-family: 'Karla', 'sans-serif';
}

@import "headings";

@import "copy";

@import "icons";
