ul, ol {
	margin: 0 0 15px 0;
	padding-left: 30px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li {
	margin-bottom: 5px;

	.entry-content & {
		padding-left: 5px;
	}
}

li > ul,
li > ol {
	margin: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
