.widget {
	margin: 0 0 50px;
	
	.post-date {
		@include font-size(14);
		font-style: italic;
		color: #969696;
		line-height: 1;
	}

	.widget-title {
		margin: 0 0 30px;
		@include font-size(16);
		text-transform: uppercase;
		letter-spacing: 1px;
		position: relative;
		padding-left: 32px;

		&:before {
			content: '';
			width: 20px;
			height: 1px;
			background-color: #969696;
			position: absolute;
			top: 50%;
			left: 0;
		}

	}

	a {
		color: $color__text-main;

		&:hover {
			color: $color_primary;
		}
	}

	ul {
		padding-left: 0;
		list-style: none;
		margin: 0;

		li {
			padding-bottom: 10px;

			&:last-of-type {
				padding-bottom: 0;
			}
		}

		li > ul,
		.children {
			padding-left: 20px;
		}
	}

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Tagcloud */
.tagcloud,
.tags-links {

	margin-left: -5px;
	margin-right: -5px;

	a {
		line-height: 1;
		padding: 10px;
		text-transform: uppercase;
		color: #757575;
		border: 1px solid #ebebeb;
		display: inline-block;
		margin: 5px;
		@include font-size(13);

		&:hover {
			background-color: $color_primary;
			color: #fff;
		}
	}
}

/* Author widget */
.widget_elfie-author-widget {
	.avatar {
		border-radius: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.author_wrap {
		text-align: center;
	}
}

/* Custom recent posts */ 
.elfie_recent_entries {
	
	.post-date {

		vertical-align: top;

		& ~ h6 {
			margin: 0;
		}
	}

	ul {
		counter-reset: section;
		list-style-type: none;
	}

	li {
		margin-bottom: 10px;
		position: relative;

		&::before {
			counter-increment: section;
			content: counters(section,".") " ";	
			position: absolute;
			left: 0;
			background-color: $color_primary;
			text-align: center;
			line-height: 25px;
			width: 25px;
			height: 25px;
			color: #fff;		
			border-radius: 50%;
			z-index: 11;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.col-md-4 {
		padding-right: 0;
	}

	.col-md-12 {
		padding-left: 45px;
	}
	
	h6 {
		margin-top: 0;
	}
}

/* Recent comments */
.widget_recent_comments {

	li > a {
		color: #000;
	}
}

/* Recent posts */ 
.widget_recent_entries {

	a {
		color: #000;
	}
}

/* Categories and archives */
.widget_archive,
.widget_categories {

	li {
		border-bottom: 1px solid #ebebeb;
		margin-bottom: 10px;
		text-align: right;
		color: #969696;
		overflow: hidden;

		a {
			float: left;
		}

		&:last-of-type {
			margin-bottom: 0;
			border: 0;
		}
	}
}

/* Search */ 
.widget_search {

	input[type="search"] {
		width: 100%;
	}

	.search-form {

		position: relative;

		&::after {
			position: absolute;
			top: 0;
			right: 0;
			content: '\e800';
			font-family: 'Fontello';
			height: 100%;
			line-height: 51px;
			width: 50px;
			text-align: center;
			background-color: $color_primary;
			color: #fff;
			z-index: 0;
		}

		.search-submit {
			position: absolute;
			top: 0;
			right: 0;
			text-indent: -9999em;
			width: 50px;
			padding-left: 0;
			padding-right: 0;
			background: transparent;
			z-index: 11;
		}
	}
}