@import "variables-site/variables-site";
@import "mixins/mixins-master";


@font-face {
	font-family: 'fontello';
	src: url('../icons/fontello.eot?9697011');
	src: url('../icons/fontello.eot?9697011#iefix') format('embedded-opentype'),
		 url('../icons/fontello.woff2?9697011') format('woff2'),
		 url('../icons/fontello.woff?9697011') format('woff'),
		 url('../icons/fontello.ttf?9697011') format('truetype'),
		 url('../icons/fontello.svg?9697011#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

.wp-block {
	max-width: 795px;
}
.wp-block[data-align="wide"] {
	max-width: 1200px;
}
.wp-block[data-align="full"] {
	max-width: none;
}
.wp-block[data-align="wide"] .wp-block[data-align="wide"],
.wp-block[data-align="full"] .wp-block[data-align="wide"] {
	max-width: 1200px;
}

.editor-styles-wrapper [data-block] {
    margin-bottom: 25px;
    margin-top:  25px;
}

.block-editor-block-list__layout .block-editor-block-list__block[data-align=left]>.block-editor-block-list__block-edit {
    margin-right: 25px;
}

.block-editor-block-list__block[data-type="core/paragraph"] p {
    margin-bottom: 25px;
}

.editor-block-list__layout h1,
.editor-block-list__layout h2,
.editor-block-list__layout h3,
.editor-block-list__layout h4,
.editor-block-list__layout h5,
.editor-block-list__layout h6,
.editor-post-title__block .editor-post-title__input {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}

.editor-block-list__layout, 
.editor-block-list__layout .editor-block-list__block {
	font-family: 'Karla', 'sans-serif';
}

/* Buttons */
.wp-block-button__link,
.wp-block-file .wp-block-file__button {
	border: 0;
	border-radius: 0;
	background: $color-primary;
	color: #fff;
	@include font-size(14);
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1;
	padding: 18px 35px;
	box-shadow: none;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		opacity: 0.8;
	}

	&:active,
	&:focus {
		background-color: $color-primary;
    }
    
	.is-style-outline & {
		color: $color-primary;
		background: transparent;
		border: 2px solid;
	}    
}

/* Images */
.wp-block-image {
	margin-bottom: 30px;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	figcaption {
		margin: 0.8075em 0;
		font-style: italic;
        color: #969696;
        text-align: center;
        @include font-size(16);
	}
}

/* Lists */
.editor-styles-wrapper {
    ol,ul {
        margin: 0 0 15px 0 !important;
        padding: 0 0 0 30px !important;    

        li {
            margin-bottom: 5px !important;
            padding-left: 5px !important;
        }
    }
}

/* Blockquotes */

.wp-block-quote.has-text-align-right,
.wp-block-quote,
blockquote {
	padding: 0 0 0 50px;
	margin: 0 0 40px;
	position: relative;
	font-style: italic;
	border: 0;

	p:last-of-type {
		margin-bottom: 0;
	}

	&::before {
		font-family: 'fontello';
		content: '\e802';
		color: $color_primary;
		@include font-size(32);
		line-height: 1;
		float: left;
		position: absolute;
		top: 0;
		left: 0;
		font-style: normal;
		transform: rotate(180deg);
	}
}
.wp-block-quote.is-style-large {
    padding: 0 0 0 50px;
    margin: 0 0 40px;
	@include font-size(22);
	
	.wp-block-quote__citation {
		@include font-size(18);
	}
}
.wp-block-pullquote {
    border: 2px solid #ebebeb;
    padding: 30px;
    margin-top: 50px;

    blockquote {
        margin-bottom: 0;
        padding-left: 0;

        &:before {
            top: -55px;
            left: calc( 50% - 25px );
            width: 50px;
            height: 50px;
            line-height: 50px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
            border-radius: 50%;
            background-color: #fff;
        }
    }

    &.is-style-solid-color {
        blockquote {
            text-align: center;
        }
    }
}